/* HEADER */
.nav__link{
    font-size: 1.3rem;
    padding: 0px 5px;
}

/* TABLE */
.container{
    padding: 30px 0px;
}
.container__pasaje{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.h1__title{
    text-align: center;
    margin: 10px 0px 30px;
}

.th__table, .td__table{
    text-align: center;
    border-bottom: 1px solid gray;
    padding: 10px 0px;
    font-size: 1.1rem;
}
.table__thead{
    background: #778899;
}
.td__table--actions{
    display: flex;
    padding: 5px;
    justify-content: center;
    align-items: center;
}

.fa-pen{
    color: #ffffff;
}
.form__insert{
    display: flex;
    justify-content: center;
    text-align: center;
}
.container__input{
    margin: 10px 0px;
}
.label__form{
    padding: 0px 5px;
}
.input__radio{
    padding: 0px 20px;
}
